---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Progress from '../components/Progress.astro';
import Timeline from '../components/Timeline.astro';
---

<Layout title="Welcome to Astro.">
    <!-- Ich bin ein Kommentar -->
    {/*java Kommentar
     */}
    <section id="Hero">
        <Hero />
    </section>
    <section id="skills"></section>
            <div class="skills-list">   
                <Progress title="HTML" progress="20" color='pink'/>
                <Progress title="CSS" progress="4" color='blue'/>
                <Progress title="Java" progress="25" color='gray'/>
                <Progress title="Administration" progress="65" color='red'/>  
            </div>        
        <section id="timeline">
            <Timeline />
        </section>
        <section id="projects"></section>
    <!-- strg+. Hotkey Refactoring
    strg+<space> Hotkey Autocorrect-->
</Layout>

<style>
    .skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
</style>