---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
    <!-- Ich bin ein Kommentar -->
    {/*java Kommentar
     */}
    <section id="Hero">
        <Hero />
    </section>
    <section id="skills"></section>
    <section id="timeline"></section>
    <section id="projects"></section>
</Layout>
