<ul>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">1983</span>
        <div class="timeline-content">
            <h3>Geburt</h3>
            <p> bestimmungs suche</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">1989</span>
        <div class="timeline-content">
            <h3>schule</h3>
            <p>das leben beginnt</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">1999</span>
        <div class="timeline-content">
            <h3>Ende einer Ära</h3>
            <p>und anfang von was neuem</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">2005</span>
        <div class="timeline-content">
            <h3>ab ihn Weltall</h3>
            <p>der kopf hägt ihn den Wolken</p>
        </div>
    </li>
</ul>